NEXT_PUBLIC_SUPABASE_URL=https://yaixeqyjvsxqlfmtfkrw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlhaXhlcXlqdnN4cWxmbXRma3J3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NzU1OTYsImV4cCI6MjA4ODM1MTU5Nn0.zbDnyQXMGXLaw225Wq0IxTICQUihd49KE1mg8lBCh1I
STORE_NAME=Tipjen
WHATSAPP_NUMBER=083894403505
