@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply bg-brand-cream text-[#4a342b] antialiased;
}

html.dark body {
  @apply bg-slate-950 text-white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120,120,120,.5) transparent;
}
