@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#f6efe8] text-[#4b342c];
}

* {
  box-sizing: border-box;
}
